<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Euclid Circular B Bold.ttf</string>
		<string>Euclid Circular B Bold Italic.ttf</string>
		<string>Euclid Circular B Italic.ttf</string>
		<string>Euclid Circular B Light Italic.ttf</string>
		<string>Euclid Circular B Light.ttf</string>
		<string>Euclid Circular B Medium Italic.ttf</string>
		<string>Euclid Circular B Regular.ttf</string>
		<string>Euclid Circular B SemiBold Italic.ttf</string>
		<string>Euclid Circular B SemiBold.ttf</string>
		<string>Euclid Circular B Medium.ttf</string>
	</array>
</dict>
</plist>
